esphome:
  name: esphome-web
  friendly_name: ESPHome Web
  min_version: 2025.11.0
  name_add_mac_suffix: true
  project:
    name: esphome.web
    version: dev

rp2040:
  board: rpipicow

# Enable logging
logger:

# Enable Home Assistant API
api:

# Allow Over-The-Air updates
ota:
  - platform: esphome

# Allow provisioning Wi-Fi via serial
improv_serial:

wifi:
  # Set up a wifi access point
  ap: {}

# Allows taking control of the device in the ESPHome Builder/Dashboard
dashboard_import:
  package_import_url: github://esphome/firmware/esphome-web/pico-w.yaml@main
  import_full_config: true
