name: Build ESP Web Tools

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'esp-web-tools/**'
      - '.github/workflows/build-esp-web-tools.yml'
  workflow_dispatch:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-firmware:
    name: Build ESP Web Tools Firmware
    uses: esphome/workflows/.github/workflows/build.yml@main
    with:
      files: |
        esp-web-tools/esp32.yaml
        esp-web-tools/esp32c3.yaml
        esp-web-tools/esp32s2.yaml
        esp-web-tools/esp32s3.yaml
        esp-web-tools/esp8266.yaml
      esphome-version: 2024.7.3
      combined-name: esp-web-tools
      release-summary: ${{ github.event_name == 'release' && github.event.release.body || '' }}
      release-url: ${{ github.event_name == 'release' && github.event.release.html_url || '' }}
      release-version: ${{ github.event_name == 'release' && github.event.release.tag_name || '' }}

  upload:
    if: github.event_name == 'release' || (github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/main')
    name: Upload to R2
    needs:
      - build-firmware
    uses: esphome/workflows/.github/workflows/upload.yml@main
    with:
      name: esp-web-tools
      version: ${{ needs.build-firmware.outputs.version }}
    secrets: inherit
